
.App {
  text-align: center;
  height: 100vh;
  width: 100vw
}

* {
  font-family: 'Helvetica Neue', 'Roboto', sans-serif;
  font-weight: bold;
}

body{
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 0px;
  position: relative;
  z-index: 10;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: min(120px, min(15vw, 15vh));
}

.App-header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  width: min(100vw, 800px);
}

.App-header video{
  width: min(640px, min(80vw, 50vh));
}

.dynamic-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  width: min(100vw, 800px);
  padding-bottom: min(80px, 5vh);
}

.dynamic-content p {
  font-size: min(80px, min(10vw, 10vh));
  margin: 0;
  padding: 0;
}

.State-Escape {
  margin: 0;
  padding: 0;
}

.State-Escape h3 {
  font-size: min(50px, min(7vw, 7vh));
}

.EscapeSelection {
  margin: 0;
  padding: 0;
}

.State-Entrypoint {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.State-Entrypoint h3 {
  font-size: min(50px, min(6vw, 6vh));
  margin: 0;
  padding: 0;
}

.PillSelection {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
}

.PillSelection img {
  width: min(150px, min(20vw, 20vh));
  height: min(150px, min(20vw, 20vh));
  object-fit: contain; 
}

.State-Sure {
  margin: 0;
  padding: 0;
}

.State-Sure  h3 {
  font-size: min(50px, min(6vw, 6vh));
  margin-bottom: 1vh;
}

.State-EmailEntry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.State-EmailEntry p {
  font-size: min(50px, 6vmin);
  padding: 1vmin;
}

/* start input form CSS */
.email-container {
  display: flex;
  justify-content: center;
}

.form-control {
  text-align: center;
  height: min(10vmin, 80px);
  margin-top: min(4vh, 80px);
}

input {
  background: 0;
  border: 0;
  outline: none;
  font-size: min(50px, 6vmin);
  transition: padding 0.3s 0.2s ease;
}
input:focus {
  padding-bottom: 5px;
}
input:focus + .line:after {
  transform: scaleX(1);
}
.field {
  display: flex;
  position: relative;
}
.field .line {
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -8px;
  background: #ffffff;
}
.field .line:after {
  content: " ";
  position: absolute;
  text-align: center;
  width: 100%;
  height: 3px;
  transform: scalex(0);
  transition: transform 0.3s ease;
  background: #a0a0a0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1.0; /* Firefox */
}
/* end input for CSS */

.InputSpace {
  height: min(50px) !important;
  width: 400px;
}

.State-onsubmit p {
  margin: 0;
  padding: 0;
}

img {
  cursor: pointer;
  max-width: 100%;
  display: block;
}

/* @media only screen and (max-height: 800px) {
  body {
    background-color: rebeccapurple;
  }
  h1 {
    font-size: min(120px, 15vh);
  }
  .App-header video{
    height: min(50vh, 640px);
  }
  .dynamic-content {
    width: min(100vw, 800px);
    padding-bottom: min(3vh, 40px);
    background-color: blue;
  }
  
  .dynamic-content p {
    font-size: min(10vh, 80px);
  }

  .State-EmailEntry p {
    font-size: min(50px, 6vmin);
    padding: 1vmin;
  }

  .PillSelection {
    padding-top: 0vh
  }
} */
