
.App {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  height: 100vh;
  aspect-ratio: 968 / 1635;
}

* {
  font-family: 'Helvetica Neue LT W05 65 MEDIUM', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

body{
  margin: 0;
  padding: 0;
}

.App-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 58%;
  /* border: solid red 1px; */
}

.App-header h1 {
  padding-top: 0px;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  font-size: 9vh;
  white-space: nowrap;
}

.App-header video{
  width: min(90%, 45.5vh);
}

.dynamic-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: rgb(0, 0, 0);
  position: relative;
  height: 42%;
  width: 100%;
  padding-bottom: 5%;
  /* border: solid green 1px; */
}

.State-Escape {
  margin: 0;
  padding: 0;
}

.State-Escape h3 {
  font-size: 3.5vh;
  margin: 0;
  padding: 0;
  padding-bottom: 3%;
}

.EscapeSelection {
  margin: 0;
  padding: 0;
}

.EscapeSelection p {
  font-size: 7vh;
  margin: 0;
  padding: 0;
}

.State-Entrypoint {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.State-Entrypoint h3 {
  font-size: 4vh;
  margin: 0;
  padding: 0;
}

.PillSelection {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
}

.PillSelection img {
  width: min(150px, 20vmin);
  height: min(150px, 20vmin);
  object-fit: contain; 
}

.State-Sure {
  margin: 0;
  padding: 0;
}

.State-Sure  h3 {
  font-size: 3vh;
  margin-bottom: 1vh;
}

.State-EmailEntry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.State-EmailEntry p {
  font-size: min(45px, 6vmin);
  padding: 1vmin;
}

/* start input form CSS */
.email-container {
  display: flex;
  justify-content: center;
}

.email-container button {
  text-align: center;
  color: red;
  background-color: #ffffff;
  height: min(10vmin, 80px);
  margin-top: min(4vh, 80px);
  cursor: pointer;
  background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: min(50px, 6vmin);
}

.form-control {
  text-align: center;
  height: min(10vmin, 80px);
  margin-top: min(4vh, 80px);
  width: 100%;
}

input {
  background: 0;
  border: 0;
  outline: none;
  font-size: min(60px, 6vmin);
  transition: padding 0.3s 0.2s ease;
}
input:focus {
  padding-bottom: 5px;
}
input:focus + .line:after {
  transform: scaleX(1);
}
.field {
  display: flex;
  position: relative;
  justify-content: center;
  width: min(640px, 80vmin);
}
.field .line {
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -8px;
  background: #ffffff;
}
.field .line:after {
  content: " ";
  position: absolute;
  text-align: center;
  width: 100%;
  height: 3px;
  transform: scalex(0);
  transition: transform 0.3s ease;
  background: #a0a0a0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1.0; /* Firefox */
}
/* end input for CSS */

.InputSpace {
  height: min(50px) !important;
  width: 400px;
}

.State-onsubmit p {
  margin: 0;
  padding: 0;
}

img {
  cursor: pointer;
  max-width: 100%;
  display: block;
}

@media only screen and (max-width: 600px) {
  /* body {
    background-color: lightblue;
  } */

  .App {
    width: 100vw;
  }

  .App-header h1 {
    font-size: 15vw;
  }
}

/* @media only screen and (max-height: 600px) {
  body {
    background-color: rgb(12, 241, 0);
  }

  .App {
    width: 100vh;
  }

  .App-header h1 {
    font-size: 15vh;
  }
} */