.App {
  text-align: center;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

div {
  display: block;
}

h1 {
  padding-top: 0px;
  position: absolute;
  z-index: 10;
}

video {
  padding-top: 75px;
}

#app {
  width: 100%;
}

/* start input form CSS */
.email-container {
  display: flex;
  justify-content: space-between;
}

input {
  background: 0;
  border: 0;
  outline: none;
  width: 80vw;
  max-width: 400px;
  font-size: 1.0em;
  transition: padding 0.3s 0.2s ease;
}
input:focus {
  padding-bottom: 5px;
}
input:focus + .line:after {
  transform: scaleX(1);
}
.field {
  position: relative;
}
.field .line {
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -8px;
  background: #ffffff;
}
.field .line:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 3px;
  transform: scalex(0);
  transition: transform 0.3s ease;
  background: #a0a0a0;
}
/* end input for CSS */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.Button-before {
  --y: -25;
  --x: 0;
  --rotation: 0;
  --speed: 2;
  --padding: 1rem 1.25rem;
  height: 50px; 
  width: 400px; 
  cursor: pointer;
  padding: var(--padding);
  color: #000000;
  font-weight: bold;
  font-size: 1.25rem;
  transition: background 0.1s ease;
  background: rgb(0, 0, 0);
  outline-color: hsl(var(--hue), 100%, 80%);
  -webkit-animation-name: flow-and-shake;
          animation-name: flow-and-shake;
  -webkit-animation-duration: calc(var(--speed) * 1s);
          animation-duration: calc(var(--speed) * 1s);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.Button-after {
  --speed: 0.1;
  --rotation: -0.5;
  --y: -0.5;
  --x: 0.5;
  --txt: "Everything?";
  height: 50px; 
  width: 400px; 
  cursor: pointer;
  padding: var(--padding);
  color: #000000;
  font-weight: bold;
  font-size: 1.25rem;
  transition: background 0.1s ease;
  background: rgb(0, 0, 0);
  outline-color: hsl(var(--hue), 100%, 80%);
  -webkit-animation-name: flow-and-shake;
  animation-name: flow-and-shake;
  -webkit-animation-duration: calc(var(--speed) * 1s);
  animation-duration: calc(var(--speed) * 1s);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.InputSpace {
  height: 50px !important;
  width: 400px;
}

.PillSelection {
  display: flex;
  justify-content: space-between;
}

.RedPill {
  margin-right: 50px;
}
.BluePill {
  margin-left: 50px;
}

img {
  cursor: pointer;
}

/* button:hover {
  background: #000000;
  width: 200px; 
  --speed: 0.1;
  --rotation: -1;
  --y: -1;
  --x: 1;
  --txt: "Everything?";
} */

/* button:active {
  --speed: 4;
  --x: 0;
  --y: 5;
  --rotation: 0;
  --txt: "Too late now.";
  background: hsl(var(--hue), 100%, 30%);
} */
.button__wrap {
  position: relative;
}
.button__shadow {
  position: absolute;
  border-radius: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: #af9d9d;
  -webkit-animation: shadow 2s infinite ease-in-out;
          animation: shadow 2s infinite ease-in-out;
  z-index: -1;
}
@-webkit-keyframes shadow {
  0%, 100% {
    transform: scaleX(1);
    opacity: 1;
  }
  50% {
    opacity: 0.2;
    transform: scaleX(0.25);
  }
}
@keyframes shadow {
  0%, 100% {
    transform: scaleX(1);
    opacity: 1;
  }
  50% {
    opacity: 0.2;
    transform: scaleX(0.25);
  }
}
@-webkit-keyframes flow-and-shake {
  0%, 100% {
    transform: translate(calc(var(--x) * -1%), 0) rotate(calc(var(--rotation) * -1deg));
  }
  50% {
    transform: translate(calc(var(--x) * 1%), calc(var(--y) * 1%)) rotate(calc(var(--rotation) * 1deg));
  }
}
@keyframes flow-and-shake {
  0%, 100% {
    transform: translate(calc(var(--x) * -1%), 0) rotate(calc(var(--rotation) * -1deg));
  }
  50% {
    transform: translate(calc(var(--x) * 1%), calc(var(--y) * 1%)) rotate(calc(var(--rotation) * 1deg));
  }
}

